<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" name="viewport" />
    <meta name="google-site-verification" content="O8l6Gdlm_7wLcePiA_vmgbeJoEon6vWqVfNFEdF35Vk" />
    <meta name="baidu-site-verification" content="code-Mg16qTh6pa" />
    <link rel="alternate icon" type="image/png" href="<%- url_for('/img/favicon.png') %>">
    <title><%= page.title %></title>
    <!-- <% if (is_post() || is_page()) { %>
        <title><%= page.title %></title>
    <% } else { %>
        <title><%= config.title %> | <%= config.subtitle %></title>
    <% } %> -->
    <%- css('css/reset.css') %>
    <%- css('css/style.css') %>
    <%- css('css/markdown.css') %>
    <%- css('css/fonts.css') %>
    <%- css('css/jquery.fancybox.min.css') %>
    <script async defer data-website-id="e0d038ef-ec21-43e8-8170-a40528b7f0f6" src="https://abingcbc.cn:5100/analysis.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.10.0/katex.min.css" rel="stylesheet" type="text/css">
</head>