<div class="archive-list">
    <ul class="archive">
        <% var currentYear = null; %>
        <% page.posts.each(function (post) { %>
            <% if (date(post.date, "YYYY") != currentYear) { %>
                <h2><%= date(post.date, "YYYY") %></h2>
                <% currentYear = date(post.date, "YYYY")%>
              <% } %>
            <li>
                <span class="archive-date"><%= date(post.date, "YYYY.MM.DD") %></span>
                <div class="archive-main">
                    <a class="archive-title" href="<%- url_for(post.path) %>"><%= post.title %></a>
                    <!-- <a class="read-more" href="<%- url_for(post.path) %>"> ... </a> -->
                </div>
            </li>
        <% }) %>
    </ul>
</div>
<%- partial('_partial/paginator') %>